# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"

# HubSpot
HUBSPOT_PRIVATE_APP_TOKEN="your-hubspot-private-app-token"
HUBSPOT_API_BASE_URL="https://api.hubapi.com"

# Environment
NODE_ENV="development"
